# Node and build artifacts
node_modules/
functions/node_modules/
.next/
out/
build/
coverage/
firebase-debug.log
npm-debug.log

# Environment variables
.env
.env.local

# OS / Editor junk
.DS_Store
.vscode/
.idea/
node_modules
