node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
.env.local
firebase.json
firestore.indexes.json
firestore.rules
functions/node_modules
functions/lib
functions/src/**/*.test.js
functions/package-lock.json
.vscode
.idea